body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Evita que aparezca una barra de desplazamiento horizontal */
}

@media (min-width: 1024px) { 
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative; /* Asegura que los elementos hijos respeten su posición relativa a este contenedor */
    z-index: 1; /* Asegura que la barra de navegación esté sobre otros elementos */
}

.burger-menu {
    display: none; /* Ocultar el botón del menú en pantallas grandes */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2; /* Asegura que el botón del menú esté sobre otros elementos */
}

.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 1; /* Asegura que la lista del menú esté sobre otros elementos */
}

.menu-list li {
    margin-right: 20px;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
}
.seccion1{

}
.mensaje-bienvenida{
    position: absolute;
    top: 30%;
    left: 20%;
}
.mensaje-bienvenida p{
    margin: 0;
    color: aqua;
    font-size: 120px;
}
.mensaje-bienvenida p + p{
    color: red;
    font-size: 50px;
}
.imagen-principal{
    width: 100%;

}
.card1{
    display: flex;
    text-align:center;
    border-radius: 30px;
    margin-top:30px;
 
    background-color: rgb(84, 144, 86);
    text-anchor: rgb(248, 250, 248);
}
.img-card1{
    border-radius: 25px 0px 0px 25px;
    width:700px;
    height:375px;
}
.texto-card{
    width: 400px;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
.boton-card{
    background-color:white;
    border:none;
    border-radius: 25px;
    width:105px;
    font-size: 16px;
}
.main-grid{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.acuaticas-frame{
    margin-top: 15px;
}
.acuaticas-grid{
    display: grid;
    justify-items:center;
}
.acuaticas-card{
   margin:5px;
    border-radius: 30px;
    height:auto;
    background-color: #A2CB7A;
}
.acuaticas-card-grid{
    margin:8px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:4px;
}
.price-column{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    
}
.info-column{
    font-size: 20px;
    
}
.image-column{
    
    width:300px;
    height:220px;
    border-radius:25px;
}
.main-container-reservas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.galeria-container{
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.galeria-container2{
    margin-top: 4px;
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 5px;
}
.primer-foto{
    width: 500px;
    height: 250px;
}
.segunda-foto{
    width: 245px;
    height: 250px;
}
.tercera-foto{
    
    width: 245px;
    height: 250px;
}

}


