@font-face {
    font-family: "Jungle";
    src: url("../fonts/JungleFeverNF.otf");
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evita que aparezca una barra de desplazamiento horizontal */
}

.navbar {
  background-color: #3333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative; /* Asegura que los elementos hijos respeten su posición relativa a este contenedor */
  z-index: 1; /* Asegura que la barra de navegación esté sobre otros elementos */
}

.menu-list {
  font-size: 13px;
  font-weight:bolder;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 1; /* Asegura que la lista del menú esté sobre otros elementos */
}

.menu-list li {
  margin-right: 5px;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
}



.mensaje-bienvenida {
  position: absolute;
  top: 14%;
  left: 18%;
}


.mensaje-bienvenida p {
    margin: 0;
    font-family: Jungle;
    color: #A24502;
    font-size: 28px;
  }

  .mensaje-bienvenida p + p {
    color: #CD8A39;
    font-family: Jungle;
    font-size: 14px;
  }
.imagen-principal {
  width: 100%;
}

.card1 {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
  background-color: rgb(84, 144, 86);
  text-anchor: rgb(248, 250, 248);
}

.img-card1 {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: auto;
}

.texto-card {
  width: 80%;
  padding: 10%;
}

.boton-card {
  background-color: white;
  border: none;
  padding: 4px;
  border-radius: 25px;
  width: 105px;
  font-size: 16px;
}

.main-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 4px;
}

.acuaticas-frame {
  margin-top: 15px;
}

.acuaticas-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.acuaticas-card {
  margin: 5px;
  border-radius: 30px;
  height: auto;
  background-color: #a2cb7a;
}

.acuaticas-card-grid {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.price-column {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.info-column {
  font-size: 20px;
}

.image-column {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.main-container-reservas {
  display: grid;
  grid-template-columns: 1fr;
}

.galeria-container {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
}

.galeria-container2 {
  margin-top: 4px;
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.primer-foto {
  width: 100%;
  height: auto;
}

.segunda-foto {
  width: 100%;
  height: auto;
}

.tercera-foto {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative; /* Asegura que los elementos hijos respeten su posición relativa a este contenedor */
    z-index: 1; /* Asegura que la barra de navegación esté sobre otros elementos */
  }

  .burger-menu {
    display: none; /* Ocultar el botón del menú en pantallas grandes */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2; /* Asegura que el botón del menú esté sobre otros elementos */
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 1; /* Asegura que la lista del menú esté sobre otros elementos */
  }

  .menu-list li {
    margin-right: 20px;
  }

  .menu-list a {
    text-decoration: none;
    color: #fff;
  }
  .mensaje-bienvenida {
    top: 40%;
    left: 10%;
  }

  .mensaje-bienvenida p {
    font-size: 80px;
  }

  .mensaje-bienvenida p + p {
    font-size: 40px;
  }

  .card1 {
    flex-direction: row;
  }

  .img-card1 {
    border-radius: 25px 0 0 25px;
    width: 50%;
    height: auto;
  }

  .texto-card {
    width: 50%;
    padding: 10%;
  }

  .acuaticas-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .acuaticas-card-grid {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .main-container-reservas {
    grid-template-columns: 1fr 1fr;
  }

  .galeria-container2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }

  .navbar {

    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .menu-list {
    font-size: 16px;
    display: flex;
  }

  .menu-list li {
    margin-right: 20px;
  }

  .menu-list a {
    text-decoration: none;
    color: #fff;
  }

  .mensaje-bienvenida {
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .mensaje-bienvenida p {
    margin: 0;
    font-family: Jungle;
    color: #A24502;
    font-size: 120px;
  }

  .mensaje-bienvenida p + p {
    color: #CD8A39;
    font-family: Jungle;
    font-size: 50px;
  }

  .imagen-principal {
    width: 100%;
    
  }

  .card1 {
    display: flex;
    
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
    background-color: rgb(84, 144, 86);
    text-anchor: rgb(248, 250, 248);
  }

  .img-card1 {
    border-radius: 25px 0px 0px 25px;
    width: 700px;
    height: 450px;
  }

  .texto-card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    font-size: 20px;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .boton-card {
    background-color: white;
    border: none;
    border-radius: 25px;
    width: 105px;
    font-size: 16px;
  }

  .main-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .acuaticas-frame {
    margin-top: 15px;
  }

  .acuaticas-grid {
    display: grid;
    justify-items: center;
  }

  .acuaticas-card {
    margin: 5px;
    border-radius: 30px;
    height: auto;
    background-color: #a2cb7a;
  }

  .acuaticas-card-grid {
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 4px;
  }

  .price-column {
    padding-top: 10%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .info-column {
    font-size: 20px;
  }

  .image-column {
    width: 500px;

    height: 300px;
    border-radius: 25px;
  }

  .main-container-reservas {
    display: grid;
    grid-template-columns:35% 65%;
    height:fit-content;
  }

  .galeria-container {
    padding: 20px;
    display: grid;
    grid-template-rows:50% ;
  }

  .galeria-container2 {
    margin-top: 4px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
  }

  .primer-foto {
    width: 100%;
    height: 100%;
  }

  .segunda-foto {
    width: 100%;
    height: 85%;
  }

  .tercera-foto {
    width: 100%;
    height: 85%;
  }
}
